/* Harsh Panchal 8909782*/
body{
    height: 100vh;
    width: 100vw;
    background-color: hsla(281, 20%, 70%, 0.4);
    font : normal normal normal 12px/1.5 verdana, arial, helvetica;
}
h2{
    color: yellow;
    font-size: 2rem ;
}

a{
    color: (39,41,1,0.8);
}